<header>
    <div class="nav">
        <div class="logo-wrapper">
            <a href="/"><img class="logo" src="/assets/logo.svg" alt="logo"></a>
        </div>
        <div class="nav-links">
            <ul>
                <li><a class="nav-link" href="/">Home</a></li>
                <li><a class="nav-link" href="/teams">Teams</a></li>
                <li><a class="nav-link" href="/players">Players</a></li>
            </ul>
        </div>
    </div>
</header>