<%- include('./partials/head')  %>

<main class="player-main">
    <!-- Player -->
    <section class="player">

        <div class="top-info">
            <h1 class="player-heading">Etienne van de Pas</h1>
        </div>

        <div class="player-info-wrapper">
            <!-- Basic information about a player -->
            <div class="player-basic">
                <h2>Basic info</h2>
                <div class="player-basic-info">
                    <div class="info-field">
                        <p class="info-title">Gender</p>
                        <p class="info-content">M</p>
                    </div>
                    <div class="info-field">
                        <p class="info-title">Jersey number</p>
                        <p class="info-content">24</p>
                    </div>
                    <div class="info-field">
                        <p class="info-title">Height</p>
                        <p class="info-content">180</p>
                    </div>
                    <div class="info-field">
                        <p class="info-title">Pronounced</p>
                        <p class="info-content">Pas</p>
                    </div>
                    <div class="info-field">
                        <p class="info-title">Pronouns</p>
                        <p class="info-content">He</p>
                    </div>
                </div>
            </div>

            <!-- Extra facts about a player -->
            <div class="player-facts">
                <h2>Player facts</h2>
                <div class="player-facts-info">
                    <div class="info-field">
                        <p class="info-title">Age</p>
                        <p class="info-content">31</p>
                    </div>
                    <div class="info-field">
                        <p class="info-title">City</p>
                        <p class="info-content">Berlin</p>
                    </div>
                    <div class="info-field">
                        <p class="info-title">Throwing hand</p>
                        <p class="info-content">Left</p>
                    </div>
                    <div class="info-field">
                        <p class="info-title">Occupation</p>
                        <p class="info-content">Engineer</p>
                    </div>
                    <div class="info-field">
                        <p class="info-title">Why did you start playing Ultimate?</p>
                        <p class="info-content">My brother played at school and taught me</p>
                    </div>
                    <div class="info-field">
                        <p class="info-title">Age</p>
                        <p class="info-content">31</p>
                    </div>
                    <div class="info-field">
                        <p class="info-title">City</p>
                        <p class="info-content">Berlin</p>
                    </div>
                    <div class="info-field">
                        <p class="info-title">Throwing hand</p>
                        <p class="info-content">Left</p>
                    </div>
                    <div class="info-field">
                        <p class="info-title">Occupation</p>
                        <p class="info-content">Engineer</p>
                    </div>
                    <div class="info-field">
                        <p class="info-title">Why did you start playing Ultimate?</p>
                        <p class="info-content">My brother played at school and taught me</p>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="add-team"><span class="add-plus">+</span> Add Fact</a>
    </section>
    
</main>

<%- include('./partials/foot')  %>