<!-- Loop based on number of teams in API -->

<!-- TODO: Change for loop to forEach if teams endpoint exists -->
<% for( let index = 0; index < 4; index++ ) { %>
    <tr>
        <td data-label="Team" colspan="3">Westerpark Warriors</td>
        <td data-label="Division" colspan="2">Mixed</td>
        <td data-label="Seed" colspan="1"><%- index + 1 %></td>
        <td data-label="From" colspan="3">Westerpark</td>
        <td data-label="Country" colspan="3">Netherlands</td>
        <td data-label="Flag" colspan="1"><img class="table-flag" src="https://flagcdn.com/nl.svg" alt="Flag of the Netherlands" width="64"></td>
        <td data-label="Info"><a class="more-team-info" href="/players"><img class="arrow-right" src="/assets/arrow-right.svg" alt="More info button" width="16"></a></td>
    </tr>
<% } %>

