<!-- Form fetch data per player -->
<form action="/" method="get" name="player-extra-info-form" class="player-extra-info-form">
    <input type="number" name="playerId" hidden value="<%- player.playerId %>">
    <input type="submit" value="i">
</form>

<!-- Modal with extra info -->
<div class="modal" id="modal<%- player.playerId %>">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="top-info">
            <h1 class="add-player-heading">Player info</h1>
        </div>
        <p class="player-info"></p>
    </div>
</div>

