<% for( let index = 0; index < 25; index++ ) { %>
    <div class="team-player-card">
        <p class="team-player-jersey-num"><%- index + 1 %></p>
        <p class="team-player-name">Etienne van de Pas</p>
        <a class="more-team-player-info" href="/player"><img class="arrow-right" src="/assets/arrow-right.svg" alt="More info button" width="16"></a>
    </div>
<% } %>