<% for( let index = 0; index < 4; index++ ) { %>
    <div class="team-facts-card">
        <p class="team-facts-title">Win without losing</p>
        <p class="team-facts-content">First team to win a game without any points lost</p>
    </div>
<% } %>